.custom-header {
    background-color: #161817;
    padding: 1rem 0;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap;
}

.logo {
    height: auto;
    width: 100px;
}

.header-nav {
    display: flex;
    align-items: center;
    margin-right: 20px;
    flex-wrap: wrap;
}

.header-nav a, .header-nav select {
    margin-left: 10px;
}

.header-nav select {
    background-color: #f0f0f0;
    color: #333;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.header-nav select option {
    background-color: white;
    color: #333;
}

.header-nav select:focus, .header-nav select:hover {
    border-color: #888;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.custom-btn-login, .custom-btn-signup, .custom-btn-logout, .custom-btn-admin{
    display: inline-block;
    padding: 10px 15px;
    text-align: center;
    border-radius: 5px;
    transition: all 0.3s ease;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.custom-btn-login {
    background-color: #4a76a8;
    border: 2px solid #3b5a82;
}

.custom-btn-login:hover {
    background-color: #3b5a82;
    color: #e1e1e1;
}

.custom-btn-signup {
    background-color: #49a078;
    border: 2px solid #3b8062;
}

.custom-btn-signup:hover {
    background-color: #3b8062;
    color: #e1e1e1;
}
.custom-btn-logout {
    background-color: #ff0000;
    border: 2px solid #c21919;
}

.custom-btn-logout:hover {
    background-color: #803b3b;
    color: #e1e1e1;
}
.custom-btn-admin {
    background-color: #003cff;
    border: 2px solid #250fcd;
}

.custom-btn-admin:hover {
    background-color: #0c2bb6;
    color: #e1e1e1;
}

@media (max-width: 768px) {
    .header-container {
        justify-content: center;
        padding: 0 10px;
    }

    .logo {
        width: 80px;
    }

    .header-nav {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .custom-btn-login, .custom-btn-signup, .header-nav select {
        margin: 8px 0;
    }

    .custom-btn-login, .custom-btn-signup {
        padding: 8px 12px;
        font-size: 12px;
    }
    .custom-btn-logout {
        padding: 8px 12px;
        font-size: 12px;
    }
}

.hamburger-menu {
    display: none;
}

@media (max-width: 768px) {
    .hamburger-menu {
        display: block; 
        cursor: pointer;
    }

    .header-nav {
        display: none; 
    }

    .header-nav.active {
        display: flex;
        flex-direction: column;
    }
}
