* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    color: #333;
}

.header {
    background-color: #303030; /* Gris foncé pour le header */
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1001;
}

.menu-toggle {
    cursor: pointer;
    color: white; /* Couleur blanche pour l'icône pour assurer la visibilité */
    z-index: 1002; /* S'assure que le menu est au-dessus des autres éléments */
    position: fixed; /* Positionne fixement le menu dans la fenêtre */
    top: 10px;
    left: 10px;
    display: none; /* Cache le menu par défaut, il sera affiché sur les petits écrans */
    background: #303030; /* Fond du bouton pour le distinguer du header */
    padding: 10px;
    border-radius: 5px;
}

.menu-toggle i {
    font-size: 20px;
}

.sidebar {
    background-color: #1a1a1a;
    color: white;
    width: 250px;
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    padding: 20px;
    transition: transform 0.3s ease;
    transform: translateX(-250px); /* Départ hors de l'écran */
    z-index: 1000;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #303030;
}

.main-content {
    padding-top: 60px; /* Espace pour le header */
    transition: margin-left 0.3s ease;
    margin-left: 0; /* Pleine largeur par défaut */
}

/* Media query pour les petits écrans : active le bouton de menu burger et ajuste la sidebar */
@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block; /* Rend le bouton de menu burger visible */
    }

    .header {
        justify-content: flex-start; /* Alignement des éléments du header */
        padding-left: 50px; /* Espace pour le menu burger */
    }

    .sidebar {
        transform: translateX(-100%); /* Cache la sidebar hors de l'écran */
    }

    .sidebar.active {
        transform: translateX(0); /* Affiche la sidebar lorsque le menu est activé */
    }
}

/* Media query pour les grands écrans : désactive la cliquabilité du bouton de menu burger */
@media screen and (min-width: 769px) {
    .menu-toggle {
        pointer-events: none; /* Désactive les événements de pointeur pour le menu burger */
    }

    .sidebar {
        transform: translateX(0); /* La sidebar est toujours visible */
    }

    .main-content {
        margin-left: 250px; /* Espace pour la sidebar visible */
    }
}
