* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    color: #333;
}

.header {
    background-color: #303030; 
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1001;
    height: 60px; 
}


.menu-toggle {
    cursor: pointer;
    color: white;
    z-index: 1002; 
    position: fixed;
    top: 10px;
    left: 10px;
    display: none;
    background: #303030; 
    padding: 10px;
    border-radius: 5px;
}

.menu-toggle i {
    font-size: 20px;
}

.profile-btn {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 20px; 
    z-index: 1002; 
}

.sidebar {
    background-color: #1a1a1a;
    color: white;
    width: 250px;
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    padding: 20px;
    transition: transform 0.3s ease;
    transform: translateX(-250px); 
    z-index: 1000;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #303030;
}

.main-content {
    padding-top: 60px; 
    transition: margin-left 0.3s ease;
    margin-left: 0; 
}

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block; 
    }

    .header {
        justify-content: flex-start; 
        padding-left: 50px; 
    }

    .sidebar {
        transform: translateX(-100%); 
    }

    .sidebar.active {
        transform: translateX(0);
    }
}

@media screen and (min-width: 769px) {
    .menu-toggle {
        pointer-events: none;
    }

    .sidebar {
        transform: translateX(0); 
    }

    .main-content {
        margin-left: 250px;
    }
}
