/* Footer personnalisé */
.custom-footer {
    background-color: #161817; 
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-size: 14px;
}

.custom-footer a {
    color: #ffffff;
    text-decoration: none;
}

.custom-footer a:hover {
    color: #e1e1e1;
}
