body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    color: #f0f0f0;
    background-color: #f4f4f4; 
}


a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}


h1, h2, h3, h4, h5, h6 {
    color: #333;
}

p {
    margin-bottom: 1rem;
}


.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.input-field {
    width: 100%; 
    padding: 10px 15px; 
    margin-bottom: 20px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box;
    font-size: 16px; 
}


.submit-btn {
    width: 100%; 
    padding: 10px 15px; 
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    font-size: 16px; 
}

.submit-btn:hover {
    background-color: #0056b3; 
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea {
    color: #000 !important; /* Force le texte à être noir */
    background-color: #fff !important; /* Assure que le fond est blanc pour une meilleure lisibilité */
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder,
textarea::placeholder {
    color: #666 !important; /* Couleur des placeholders pour une meilleure visibilité */
}